

<h3 class="heading-list">Tour list</h3>

{% load i18n admin_urls %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "styles/" %}article-list-basic.css">
<script type="text/javascript" script-name="ubuntu" src="http://use.edgefonts.net/ubuntu.js"></script>
<ul class="article-list-basic">

{% for tour in tours %}
    <li>
        <a href="/tours/{{ tour.id }}/">
            <img src="{% static "static_images/redpath-inside.jpg" %}" />
        </a>
        <div>
            <h2><a href="/tours/{{ tour.id }}/">{{ tour.title }}</a></h2>
            <p>{{ tour.description }}</p>
            <a href="/tours/{{ tour.id }}/" class="read-more">See Tour &rarr;</a>
        </div>
    </li>
{% endfor %}
</ul>
