{% extends "navapp_base.html" %}
{% load staticfiles %}
{% load static %}
{% get_media_prefix as media %}


  {% block logo %}
  <!-- Logo -->
    <div id="logo">
      <h1><a href="{% url 'navapp:index' %}">The Redpath Museum's Virtual Exhibit</a></h1>
      <p>Enhancing museum experience</p>
      <!-- <button class="launcher">Launch Virtual Exhibit</button> -->
    </div>
  {% endblock %}

{% block content %}
<div id="intro-wrapper" class="wrapper style1">

  <div class="title arrow up" id="show-top">Exhibits</div>
  <section id="intro" class="container">

    {% for group in tourGroups %}
    <h1>{{ group.title }}</h1>
    <hr></hr>
      <ul class="article-list-basic">
        {% for tour in group.tours.all %}
        <li class="tours-panel">
            <a href="/tours/{{ tour.id }}/">
                <img src="/media/snapshots/{{ tour.snapshot_name }}" />
            </a>
            <div>
                <h2><a href="/tours/{{ tour.id }}/" style="color: #2b2b2b !important;">{{ tour.title }}</a></h2>
                <p>{{ tour.description }}</p>
                <a href="/tours/{{ tour.id }}/" class="read-more">See Tour &rarr;</a>
            </div>
        </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </section>
</div>
{% endblock %}
