<div class="col-lg-9 col-md-9 col-sm-6" id="3d_content" style=" height:100%; overflow-y:hidden; overflow-x: hidden;">

  <!--<img src="images/redpath.jpg" alt="redpath" />-->
  <!--Called by 3D web content when interactions occur-->
  <div id="blocker"></div>
  <div id="mydiv"></div>
  <canvas id="canvas3D"></canvas>

</div>

{% load staticfiles %}
<script>
 var object_to_load_obj_path = "{% static "renders/" %}{{renderObj.object_path}}";
 var object_to_load_colormap_path = "{% static "renders/" %}{{ renderObj.colormap_path }}";
 var object_to_load_specmap_path = "{% static "renders/" %}{{ renderObj.specmap_path }}";
 var object_to_load_normalmap_path = "{% static "renders/" %}{{ renderObj.normalmap_path }}"
</script>
<script src="{% static "bower_components/jquery/dist/jquery.js" %}" ></script>
<script src="{% static "bower_components/three.js/build/three.js" %}" ></script>
<script src="{% static "bower_components/threejs-trackball-controls/TrackballControls.js" %}" ></script>
<script src="{% static "bower_components/tween.js/src/Tween.js" %}" ></script>
<script src="{% static "bower_components/dat-gui/build/dat.gui.js" %}" ></script>
<script src="{% static "scripts/STLLoader.js" %}" ></script>
<script src="{% static "scripts/OBJLoader.js" %}" ></script>
<script src="{% static "scripts/CSS3DRenderer.js" %}" ></script>
<script src="{% static "scripts/render-window.js" %}" ></script>
