{% load staticfiles %}
{% load static %}
{% get_media_prefix as media %}
<script src="{% static "bower_components/jquery/dist/jquery.js" %}" ></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://use.fontawesome.com/5fcca142be.js"></script>
<script type="text/javascript"></script>
<link rel="stylesheet" href="{% static "styles/" %}main.scss">
<link rel="stylesheet" href="{% static "styles/" %}that.css">
<link rel="stylesheet" href="{% static "styles/" %}article-list-basic.css">

<!-- Material Design fonts -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

<!-- Bootstrap Material Design -->
<link rel="stylesheet" type="text/css" href="{% static "styles/bootstrap-material-design-master/" %}dist/css/bootstrap-material-design.css">
<link rel="stylesheet" type="text/css" href="{% static "styles/bootstrap-material-design-master/" %}dist/css/ripples.min.css">
