{% load staticfiles %}
{% load static %}
<head>
  <title>Redpath Open Museum</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="{% static "assets/" %}css/main.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{% static "assets/" %}css/ie8.css" /><![endif]-->

  <link rel="stylesheet" href="{% static "styles/" %}main.scss">
  <link rel="stylesheet" href="{% static "styles/" %}that.css">
  <link rel="stylesheet" href="{% static "styles/" %}article-list-basic.css">
  <link rel="icon" href="{% static "images/icons/" %}mcgill_favicon.ico" >

</head>
