{% include "header_navapp.html" %}
{% load staticfiles %}
{% load static %}
<nav id="nav" class="">
        <ul>
          {% include "navapp_navbar_links.html" %}
        </ul>
      </nav>

{% block scripts %}
      <!-- Scripts -->

        <script src="{% static "assets/" %}js/jquery.min.js"></script>
        <script src="{% static "assets/" %}js/jquery.dropotron.min.js"></script>
        <script src="{% static "assets/" %}js/skel.min.js"></script>
        <script src="{% static "assets/" %}js/skel-viewport.min.js"></script>
        <script src="{% static "assets/" %}js/util.js"></script>
        <!--[if lte IE 8]><script src="{% static "assets/" %}js/ie/respond.min.js"></script><![endif]-->
        <script src="{% static "assets/" %}js/main.js"></script>

{% endblock %}

{% block content %}
{% endblock %}