
{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}


{% block after_related_objects %}

{% load staticfiles %}
{% load static %}
{% get_media_prefix as media %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

<link rel="stylesheet" href="{% static "styles/" %}main.scss">
<link rel="stylesheet" href="{% static "styles/" %}that.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"></script>

<script>

  var object_to_load_obj_path = "{{ media }}renders/" + "{{original.render.object_path}}".split(/[\\/]/).pop();
  var object_to_load_colormap_path = "{{ media }}renders/" + "{{ original.render.colormap_path }}".split(/[\\/]/).pop();
  var object_to_load_specmap_path = "{{ media }}renders/" + "{{ original.render.specmap_path }}".split(/[\\/]/).pop();
  var object_to_load_normalmap_path = "{{ media }}renders/" + "{{ original.render.normalmap_path }}".split(/[\\/]/).pop();
  function changeAllObjPaths(render_obj) {
    object_to_load_obj_path = "{% static "renders/" %}"+render_obj;
    console.log(object_to_load_obj_path);
    console.log(object_to_load_colormap_path);
    console.log('GGG');
    init();
  }

</script>

<div class="" style="height: 100%; ">
  <div class="col-lg-9 col-md-9 col-sm-6" id="3d_content" style=" height:100%; overflow-y:hidden; overflow-x: hidden; ">

    <!--Called by 3D web content when interactions occur-->
    <div id="controls-dock" class="col-lg-1 col-md-1 col-sm-1" >

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose Model to Upload</h4>
              </div>
              <div class="modal-body" style="overflow-y: auto; height=100%;">
                <ul>
                {% for render in renders_2 %}
                  <li onClick=changeAllObjPaths("{{render.object_path}}")>{{ render.title }}</li>
                {% endfor %}
                </ul>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" >Add Model from Desktop</button>
              </div>
            </div>

          </div>
        </div>


    </div>
    <div id="blocker"></div>

    <div id="mydiv">
      <button class="fa fa-camera" style="z-index: 20"></button>

    </div>

    <div><canvas id="canvas3D" ></canvas></div>


  </div>

  <div class="col-lg-3 col-md-3 col-sm-6" id="docked_content" style="height:100%; overflow-y: auto">

    <form>
      <div class="form-group" id="annotation-list">
        <!-- <label for="">Annotation</label>
        <textarea class="form-control" rows="1" id="article-title"></textarea>
        <button type="button" class="btn-primary" >Edit</button>
        <button class="btn-success" >Save</button>
        <button class="btn-danger" >Delete</button> -->



      </div>

    </form>

    <form>

      <div class="form-group">
        <div style="display: none;" id="annot-txt-buffer">
          <label for="comment">Add Text</label>
          <textarea class="form-control" rows="5" id="annot-txt-buffer-val" disabled="true"></textarea>

        </div>

        <!-- Annotation Wizard -->
        <div id="myWizard-top"style="display: none">
           <div class="navbar" id="myWizard">
              <div class="navbar-inner">
                    <ul class="nav nav-pills">
                       <li class="active"><a id="annot-wizard-step-header"href="#step1" data-toggle="tab">Step 1 of 4</a></li>
                    </ul>
              </div>
           </div>
           <div class="">
              <div class="tab-pane active" step="1" id="myWizard-start" style="display: none">
                 <p>Press Enter to select a target for the annotation</p>
                 <button href="#" type="button" id="step-target-nxt-btn" name="Continue" onClick="ConfirmTargetStep()" class="btn btn-default next" disabled>Continue</button>
                 <button type="button" class="btn btn-danger cancel-annot-wizard" onClick=CancelNewAnnotation() >Cancel</button>
              </div>
              <div class="tab-pane" step="2" style="display: none">
                 <p>Press "S" to select the current camera view for the annotation</p>
                 <button href="#" type="button" id="step-camview-nxt-btn" name="Continue" onclick="ConfirmCameraViewStep()" class="btn btn-default next" disabled>Continue</button>
                 <button type="button" class="btn btn-danger cancel-annot-wizard" onClick=CancelNewAnnotation()>Cancel</button>
              </div>
              <div class="tab-pane" step="3" style="display: none">
                 <p>Enter the the text for the annotation</p>
                 <button type="button" id="step-annot-txt-nxt-btn" name="Continue" onclick="ConfirmAnnotTextStep()" class="btn btn-default next" disabled>Continue</button>
                 <button type="button" class="btn btn-danger cancel-annot-wizard" onClick=CancelNewAnnotation()>Cancel</button>
              </div>
              <div class="tab-pane" step="4" style="display: none">
                 <p>This is the last step. Save your new annotation. You can always edit it later</p>
                 <button id="step-save-btn" type="button" class="btn-success" value ="Save Annotation" onClick="SaveNewAnnotation(); EndAnnotationWizard()" >Save New Annotation</button>
              </div>
           </div>
         </div>



        <button id="new-annotation-btn" type="button" class="btn-primary" value ="New Annotation" onClick=NewAnnotation() > New Annotation</button>

        <!-- <button type="button" class="btn-success" value ="Save Annotation" onClick=SaveNewAnnotation() >Save</button> -->
        <!-- <button type="button" class="btn-danger" value ="Cancel Annotation" onClick=CancelNewAnnotation() >Cancel </button> -->

      </div>
    </form>
  </div>
</div>

<script src="https://cdn.rawgit.com/mrdoob/three.js/r84/build/three.min.js" ></script>
<script src="{% static "bower_components/jquery/dist/jquery.js" %}" ></script>
<!-- <script src="{% static "bower_components/three.js/build/three.js" %}" ></script> -->
<script src="{% static "bower_components/threejs-trackball-controls/TrackballControls.js" %}" ></script>
<script src="{% static "bower_components/tween.js/src/Tween.js" %}" ></script>
<script src="{% static "bower_components/dat-gui/build/dat.gui.js" %}" ></script>
<script src="{% static "scripts/draco_decoder.js" %}"></script>
<script src="{% static "scripts/STLLoader.js" %}" ></script>
<script src="{% static "scripts/OBJLoader.js" %}" ></script>
<script src="{% static "scripts/DRACOLoader.js" %}" ></script>
<script src="{% static "scripts/CSS3DRenderer.js" %}" ></script>
<script src="{% static "scripts/render-window-admin.js" %}" ></script>

<!-- Load annotation script -->
<script>
function refreshAnnotationMenu( AnnotationSet) {
  for(var i=0; i< AnnotationSet.queue.length; i++) {
    refreshAnnotation(AnnotationSet.queue[i].id, i,AnnotationSet.queue[i].text);
  }

}

function getAnnotationById(id) {
  for(var i=0; i< Annotation_Set.queue.length; i++) {
    if(Annotation_Set.queue[i].id == id){
      return Annotation_Set.queue[i];
    }
  }
  console.log("Id not found");
  return -1;

}

function getAnnotationIndexById(id) {
  for(var i=0; i< Annotation_Set.queue.length; i++) {
    if(Annotation_Set.queue[i].id == id){
      return i;
    }
  }
  console.log("Index not found");
  return -1;

}

function createAnnotation(id, position, text) {
  var newLabel = document.createElement("label");
  newLabel.innerHTML = "Annotation "+(position+1);
  newLabel.setAttribute("id",id);

  var newTextArea = document.createElement("textarea");
  newTextArea.innerHTML = text;
  newTextArea.setAttribute("class", "form-control");
  newTextArea.setAttribute("rows", "1");
  newTextArea.setAttribute("text", "description");
  newTextArea.disabled = true;

  var newDeleteBtn = document.createElement("button");
  newDeleteBtn.innerHTML = "Delete";
  newDeleteBtn.setAttribute("class", "btn-danger");
  newDeleteBtn.setAttribute("type", "button");
  console.log("createAnnotation ---- Click --------");
  newDeleteBtn.onclick = function() {
      var id = newDeleteBtn.parentNode.id;
      console.log("SETTING ONCLICK FUNCTION");
      console.log(id);
      DeleteAnnotation(id);
      console.log("ONCLICK FUNCTION SET");
    };

  var newSaveBtn = document.createElement("button");
  newSaveBtn.innerHTML = "Save Changes";
  newSaveBtn.setAttribute("class", "btn-success");
  newSaveBtn.setAttribute("type", "button");
  newSaveBtn.setAttribute("name", "save-changes");
  newSaveBtn.style.display = "none";

  var newEditBtn = document.createElement("button");
  newEditBtn.innerHTML = "Edit";
  newEditBtn.setAttribute("class", "btn-primary");
  newEditBtn.setAttribute("type", "button");
  newEditBtn.onclick = function() {
      var id = newEditBtn.parentNode.id;
      // newTextArea.disabled = false;
      // var newTitleTextArea = newTextArea.cloneNode(true);
      // newTitleTextArea.value = $(newLabel).contents()[0].data
      // $(newLabel).contents()[0].data = "";
      // newLabel.insertBefore(newTitleTextArea, newLabel.firstChild);

      //load into annot buffer and start Wizard
      newDeleteBtn.style.display = "none";
      EditTrgtNCamBtn.style.display = "";
      newEditBtn.style.display = "none";
      annot_buffer = getAnnotationById(id);

    };

    var EditTrgtNCamBtn = document.createElement("button");
    EditTrgtNCamBtn.innerHTML = "Edit Target";
    EditTrgtNCamBtn.setAttribute("class", "btn-primary");
    EditTrgtNCamBtn.setAttribute("type", "button");
    EditTrgtNCamBtn.setAttribute("name", "edit-target");
    EditTrgtNCamBtn.style.display = "none";
    EditTrgtNCamBtn.onclick = function() {
      //Go to wizard step1
      var id = newLabel.id;
      EditTrgtNCamBtn.style.display = "none";
      EditAnnotationTrgt(id);

    }

  annotationList.appendChild(newLabel);
  newLabel.appendChild(newTextArea);
  newLabel.appendChild(newEditBtn);
  newLabel.appendChild(newDeleteBtn);
  newLabel.appendChild(EditTrgtNCamBtn);
  newLabel.appendChild(newSaveBtn);

}

function refreshAnnotation(id, position, text) {
  console.log("refreshAnnotation -- id =", id);
  var trgtAnnot = document.getElementById(id);
  var parent = document.getElementById("annotation-list");
  trgtAnnot.parentNode.removeChild(trgtAnnot);
  createAnnotation(id, position, text);

}

function removeAnnotationById(id) {
  console.log("removeAnnotationById -- id = ", id);
  var trgtAnnot = document.getElementById(id);
  var parent = document.getElementById("annotation-list");
  trgtAnnot.parentNode.removeChild(trgtAnnot);
}
var annotations_json;
var Annotation_Set = new AnnotationSet();
var annotationList = document.getElementById("annotation-list");
//Get all annotations of current tour as JSON object
  $.get('/tours/get_annotations/{{original.id}}/', function(data) {
    console.log(data);
    annotations_json = data;

    //Load JSON object in an Annotation Set
  for(var i=0; i< annotations_json.length; i++){
      var cam_pos = new THREE.Vector3(annotations_json[i].camera_pos_x,annotations_json[i].camera_pos_y,annotations_json[i].camera_pos_z);
      var target_pos = new THREE.Vector3(annotations_json[i].target_pos_x,annotations_json[i].target_pos_y,annotations_json[i].target_pos_z);
      var Annot_obj = new AnnotationObj(target_pos, cam_pos);
      Annot_obj.text = annotations_json[i].annotation_text;
      Annot_obj.id = annotations_json[i].id
      CreateToolTip(Annot_obj.text, i);
      console.log("",Annot_obj.id)
      console.log(Annot_obj);
      console.log("annotations.length = ",annotations_json.length)
      Annotation_Set.AddAnnotation(Annot_obj);
      console.log(Annotation_Set);


      //Create Annotation Menu
      createAnnotation(Annot_obj.id, i,
         Annot_obj.text);

  }
})
</script>

<!-- AJAX Setup -->
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
   // test that a given url is a same-origin URL
   // url could be relative or scheme relative or absolute
   var host = document.location.host; // host + port
   var protocol = document.location.protocol;
   var sr_origin = '//' + host;
   var origin = protocol + sr_origin;
   // Allow absolute or scheme relative URLs to same origin
   return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
   (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
   // or any other URL that isn't scheme relative or absolute i.e relative.
   !(/^(\/\/|http:|https:).*/.test(url));
}
var csrftoken = getCookie('csrftoken')
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>

<script>
 function SaveNewAnnotation() {
     Annotation_Set.AddAnnotation(annot_buffer);
     console.log(annot_buffer.name, "ADDED ANNOTATION TO ANNOTATION SET");
     console.log(Annotation_Set, "THIS IS THE ANNOTATION SET");

     console.log("Save new Annotation");
     var annot = Annotation_Set.queue[Annotation_Set.queue.length-1];
     annot.text = document.getElementById("annot-txt-buffer-val").value;
     document.getElementById("annot-txt-buffer").style.display = "none";
     var data = {
         camera_position: {},
         camera_target: {},
         name: "",
         position: 0
     };
     data.camera_position.x = annot.camera_position.x;
     data.camera_position.y = annot.camera_position.y;
     data.camera_position.z = annot.camera_position.z;
     data.camera_target.x = annot.camera_target.x;
     data.camera_target.y = annot.camera_target.y;
     data.camera_target.z = annot.camera_target.z;
     data.name = annot.name;
     data.text = annot.text;
     data.position = Annotation_Set.queue.length-1;
     console.log(data);
     $.post('/tours/add_annotation/{{original.id}}/', JSON.stringify({annotation: data}), function(data, status) {
         console.log(data.id, Annotation_Set.queue.length-1, Annotation_Set.queue[Annotation_Set.queue.length-1].text);
         Annotation_Set.queue[Annotation_Set.queue.length-1].id = data.id;
         createAnnotation(data.id, Annotation_Set.queue.length-1, Annotation_Set.queue[Annotation_Set.queue.length-1].text);
         refreshAnnotationMenu(Annotation_Set);
     })

 }

function DeleteAnnotation(id){
  $.get('/tours/delete_annotation/'+id, function(data) {
    console.log(data);
    console.log("Deleted annotation");
    console.log("change_form.html-DeleteAnnotation() - Annotation_Set BEFORE= ",Annotation_Set);
    Annotation_Set.DeleteAnnotation(data.position);
    console.log("change_form.html-DeleteAnnotation() - Annotation_Set AFTER= ",Annotation_Set);
    removeAnnotationById(id);
    refreshAnnotationMenu(Annotation_Set);
  })
}

function EditAnnotationById(id){
  var annot2Edit = getAnnotationById(id);
  console.log("EditAnnotationById - annot2Edit = ", annot2Edit);
  var data = {
      camera_position: {},
      camera_target: {},
      name: "",
      position: 0
  };
  data.camera_position.x = annot2Edit.camera_position.x;
  data.camera_position.y = annot2Edit.camera_position.y;
  data.camera_position.z = annot2Edit.camera_position.z;
  data.camera_target.x = annot2Edit.camera_target.x;
  data.camera_target.y = annot2Edit.camera_target.y;
  data.camera_target.z = annot2Edit.camera_target.z;
  data.name = annot2Edit.name;
  data.text = annot2Edit.text;
  data.position = getAnnotationIndexById(id);
  $.post('/tours/edit_annotation/'+id+'/', JSON.stringify({annotation: data}), function(data) {
    console.log(data);
    console.log("Edited annotation");
    console.log("change_form.html-DeleteAnnotation() - Annotation_Set BEFORE= ",Annotation_Set);
    console.log("change_form.html-DeleteAnnotation() - Annotation_Set AFTER= ",Annotation_Set);
    refreshAnnotationMenu(Annotation_Set);
  })
}

function ConfirmTargetStep() {
  window.removeEventListener("keydown", SaveCurrentTarget, false);
  window.addEventListener("keydown", SaveCameraView, false);
}

function ConfirmCameraViewStep() {
  document.getElementById("annot-txt-buffer").style.display = "";
  document.getElementById("annot-txt-buffer-val").disabled = false;
  document.getElementById("annot-txt-buffer-val").addEventListener("input", SaveAnnotationBufferText);
  document.getElementById("annot-txt-buffer-val").value = "Default text";
  document.getElementById("step-annot-txt-nxt-btn").disabled = false;


  window.removeEventListener("keydown", SaveCameraView, false);

  console.log(Annotation_Set.queue.length);
  CreateToolTip(document.getElementById("annot-txt-buffer-val").value, 777);
  document.getElementById("tooltip"+777).style.zIndex=5;
  document.getElementById("tooltip"+777).style.visibility="visible";
}

function ConfirmAnnotTextStep() {
  document.getElementById("annot-txt-buffer").style.display = "none";
  document.getElementById("annot-txt-buffer-val").disabled = true;
  document.getElementById("step-save-btn").style.display ="";
  document.getElementById("annot-txt-buffer-val").removeEventListener("input", SaveAnnotationBufferText);

}

function EndAnnotationWizard() {
  step_num = 1;
  document.getElementById("new-annotation-btn").style.display ="";
  document.getElementById("myWizard-top").style.display = "none";
  document.getElementById("step-save-btn").style.display ="none";
  document.getElementById("annot-txt-buffer").style.display = "none";
  $('.tab-pane').hide();
  $('#annot-wizard-step-header').text("Step 1 of 4");
  if(document.getElementById("tooltip"+777)!=null) {
    document.getElementById("tooltip"+777).remove();
  }


}

$('.next').bind("click",function(){

  var nextId = parseInt($(this).parents('.tab-pane').attr("step")) + 1;
  $(this).parents('.tab-pane').hide();
  $(this).parents('.tab-pane').next().show();
  step_num = nextId%num_of_steps;
  $('#annot-wizard-step-header').text("Step "+step_num+ " of 4");

  console.log("step_num= "+ step_num);

})

$('.first').click(function(){

  $('#myWizard button:first').tab('show')

})

</script>

<!-- OVerwriting the submit row with a custom block -->
{% block submit_butt_bottom %}
<div class="submit-row col-lg-12 col-md-12 col-sm-12">
<input type="submit" value="Save" class="default" name="_save">


  <p class="deletelink-box"><a href="/admin/tours/tour/1/delete/" class="deletelink">Delete</a></p>


<input type="submit" value="Save and add another" name="_addanother">
<input type="submit" value="Save and continue editing" name="_continue">
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
<p><a href='{{ request.get_host }}/tours/{{original.id}}'>{{ request.get_host }}/tours/{{original.id}}</a></p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
  <a href="https://www.the-qrcode-generator.com/">Generate QR Code</a>
</div>
{% endblock %}

{% endblock %}

<!-- This blank is needed to be able to overwrite the default html of the submit row above  -->
{% block submit_buttons_bottom %}
{% endblock %}
