
{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}


{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% load staticfiles %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"></script>

<script>

  var object_to_load_obj_path = "{% static "renders/" %}{{original.render.object_path}}";
  var object_to_load_colormap_path = "{% static "renders/" %}{{ original.render.colormap_path }}";
  var object_to_load_specmap_path = "{% static "renders/" %}{{ original.render.specmap_path }}";
  var object_to_load_normalmap_path = "{% static "renders/" %}{{ original.render.normalmap_path }}";
  function changeAllObjPaths(render_obj) {
    object_to_load_obj_path = "{% static "renders/" %}"+render_obj;
    console.log(object_to_load_obj_path);
    console.log(object_to_load_colormap_path);
    console.log('GGG');
    init();
  }

</script>

<div class="" style="height: 100%; ">
  <div class="col-lg-9 col-md-9 col-sm-6" id="3d_content" style=" height:100%; overflow-y:hidden; overflow-x: hidden; ">

    <!--Called by 3D web content when interactions occur-->
    <div id="controls-dock" class="col-lg-1 col-md-1 col-sm-1" >

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose Model to Upload</h4>
              </div>
              <div class="modal-body" style="overflow-y: auto; height=100%;">
                <ul>
                {% for render in renders_2 %}
                  <li onClick=changeAllObjPaths("{{render.object_path}}")>{{ render.title }}</li>
                {% endfor %}
                </ul>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" >Add Model from Desktop</button>
              </div>
            </div>

          </div>
        </div>


    </div>
    <div id="blocker"></div>
    <div id="mydiv"></div>
    <canvas id="canvas3D" ></canvas>

  </div>
  <div class="col-lg-3 col-md-3 col-sm-6" id="docked_content" style="height:100%; overflow-y: auto">

    <form>
      <div class="form-group">
        <label for="">Annotation</label>
        <textarea class="form-control" rows="1" id="article-title"></textarea>
        <button type="button" class="btn-primary" >Edit</button>
        <button class="btn-success" >Save</button>
        <button class="btn-danger" >Delete</button>
      </div>
    </form>

    <form>

      <div class="form-group">
        <div style="visibility: hidden;" id="annot-txt-buffer">
          <label for="comment">Add Text</label>
          <textarea class="form-control" rows="5" id="paragraph" ></textarea>

        </div>
        <button type="button" class="btn-primary" value ="New Annotation" onClick=NewAnnotation() > New Annotation</button>

        <button type="submit" class="btn-success" value ="Save Annotation" onClick=CancelNewAnnotation() >Save</button>
        <button type="button" class="btn-danger" value ="Cancel Annotation" onClick=CancelNewAnnotation() >Cancel </button>

      </div>
    </form>
  </div>
</div>


<script src="{% static "bower_components/jquery/dist/jquery.js" %}" ></script>
<script src="{% static "bower_components/three.js/build/three.js" %}" ></script>
<script src="{% static "bower_components/threejs-trackball-controls/TrackballControls.js" %}" ></script>
<script src="{% static "bower_components/tween.js/src/Tween.js" %}" ></script>
<script src="{% static "bower_components/dat-gui/build/dat.gui.js" %}" ></script>
<script src="{% static "scripts/STLLoader.js" %}" ></script>
<script src="{% static "scripts/OBJLoader.js" %}" ></script>
<script src="{% static "scripts/CSS3DRenderer.js" %}" ></script>
<script src="{% static "scripts/render-window-admin.js" %}" ></script>


<!-- Script to load annotations -->
<script>

  //Delete when objects are put in seperate folders
  var Annotation_Set = new AnnotationSet();
{% for annot in tour_annot %}

  var annote = {{annot}};
  console.log(annote);

{% endfor %}

  for (var i=0;i< 2; i++){
    var cam_pos = new THREE.Vector3(0,0,0);
    var target_pos = new THREE.Vector3(0,0,0);
    var Annot_obj = new AnnotationObj(cam_pos, target_pos);
    // Annot_obj.text = "{{annotation.annotation_text}}";
    console.log(Annot_obj);
    Annotation_Set.AddAnnotation(Annot_obj);
    console.log(Annotation_Set);

  }
</script>

{% endblock %}
