
{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}


{% block after_related_objects %}

{% load staticfiles %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"></script>

<script>

  var object_to_load_obj_path = "{% static "renders/" %}" + "{{original.render.object_path}}".split(/[\\/]/).pop();
  var object_to_load_colormap_path = "{% static "renders/" %}" + "{{ original.render.colormap_path }}".split(/[\\/]/).pop();
  var object_to_load_specmap_path = "{% static "renders/" %}" + "{{ original.render.specmap_path }}".split(/[\\/]/).pop();
  var object_to_load_normalmap_path = "{% static "renders/" %}" + "{{ original.render.normalmap_path }}".split(/[\\/]/).pop();
  function changeAllObjPaths(render_obj) {
    object_to_load_obj_path = "{% static "renders/" %}"+render_obj;
    console.log(object_to_load_obj_path);
    console.log(object_to_load_colormap_path);
    console.log('GGG');
    init();
  }

</script>

<div class="" style="height: 100%; ">
  <div class="col-lg-9 col-md-9 col-sm-6" id="3d_content" style=" height:100%; overflow-y:hidden; overflow-x: hidden; ">

    <!--Called by 3D web content when interactions occur-->
    <div id="controls-dock" class="col-lg-1 col-md-1 col-sm-1" >

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose Model to Upload</h4>
              </div>
              <div class="modal-body" style="overflow-y: auto; height=100%;">
                <ul>
                {% for render in renders_2 %}
                  <li onClick=changeAllObjPaths("{{render.object_path}}")>{{ render.title }}</li>
                {% endfor %}
                </ul>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" >Add Model from Desktop</button>
              </div>
            </div>

          </div>
        </div>


    </div>
    <div id="blocker"></div>
    <div id="mydiv"></div>
    <canvas id="canvas3D" ></canvas>

  </div>

  <div class="col-lg-3 col-md-3 col-sm-6" id="docked_content" style="height:100%; overflow-y: auto">

    <form>
      <div class="form-group">
        <label for="">Annotation</label>
        <textarea class="form-control" rows="1" id="article-title"></textarea>
        <button type="button" class="btn-primary" >Edit</button>
        <button class="btn-success" >Save</button>
        <button class="btn-danger" >Delete</button>
      </div>
    </form>

    <form>

      <div class="form-group">
        <div style="visibility: hidden;" id="annot-txt-buffer">
          <label for="comment">Add Text</label>
          <textarea class="form-control" rows="5" id="paragraph" ></textarea>

        </div>
        <button type="button" class="btn-primary" value ="New Annotation" onClick=NewAnnotation() > New Annotation</button>

        <button type="button" class="btn-success" value ="Save Annotation" onClick=SaveNewAnnotation() >Save</button>
        <button type="button" class="btn-danger" value ="Cancel Annotation" onClick=CancelNewAnnotation() >Cancel </button>

      </div>
    </form>
  </div>
</div>


<script src="{% static "bower_components/jquery/dist/jquery.js" %}" ></script>
<script src="{% static "bower_components/three.js/build/three.js" %}" ></script>
<script src="{% static "bower_components/threejs-trackball-controls/TrackballControls.js" %}" ></script>
<script src="{% static "bower_components/tween.js/src/Tween.js" %}" ></script>
<script src="{% static "bower_components/dat-gui/build/dat.gui.js" %}" ></script>
<script src="{% static "scripts/STLLoader.js" %}" ></script>
<script src="{% static "scripts/OBJLoader.js" %}" ></script>
<script src="{% static "scripts/CSS3DRenderer.js" %}" ></script>
<script src="{% static "scripts/render-window-admin.js" %}" ></script>


<!-- Script to load annotations -->
<script>

  //Delete when objects are put in seperate folders
  var Annotation_Set = new AnnotationSet();
  var last_pos = 0;
{% for annot in tour_annot %}

  last_pos = {{annot.position}};
  var annote = {{annot}};

{% endfor %}


  for (var i=0;i< 2; i++){
    var cam_pos = new THREE.Vector3(0,0,0);
    var target_pos = new THREE.Vector3(0,0,0);
    var Annot_obj = new AnnotationObj(target_pos,cam_pos);
    // Annot_obj.text = "{{annotation.annotation_text}}";
    console.log(Annot_obj);
    Annotation_Set.AddAnnotation(Annot_obj);
    console.log(Annotation_Set);

  }
 function SaveNewAnnotation() {
     console.log("Save new Annotation");
     var annot = Annotation_Set.queue[Annotation_Set.queue.length-1];
     var data = {
         camera_position: {},
         camera_target: {},
         name: "",
         position: 0
     };
     data.camera_position.x = annot.camera_position.x;
     data.camera_position.y = annot.camera_position.y;
     data.camera_position.z = annot.camera_position.z;
     data.camera_target.x = annot.camera_target.x;
     data.camera_target.y = annot.camera_target.y;
     data.camera_target.z = annot.camera_target.z;
     data.name = annot.name;
     data.text = annot.text;
     data.position = Annotation_Set.queue.length-1;
     console.log(data);
     function getCookie(name) {
         var cookieValue = null;
         if (document.cookie && document.cookie != '') {
             var cookies = document.cookie.split(';');
             for (var i = 0; i < cookies.length; i++) {
                 var cookie = jQuery.trim(cookies[i]);
                 // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
     }
     function csrfSafeMethod(method) {
         // these HTTP methods do not require CSRF protection
         return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
     }
     function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
     }
     var csrftoken = getCookie('csrftoken')
     $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                 // Send the token to same-origin, relative URLs only.
                 // Send the token only if the method warrants CSRF protection
                 // Using the CSRFToken value acquired earlier
                 xhr.setRequestHeader("X-CSRFToken", csrftoken);
             }
         }
     });
     $.post('/tours/add_annotation/{{original.id}}/', JSON.stringify({annotation: data}), function(data) {
         console.log(data);
     })
 }
</script>

<!-- OVerwriting the submit row with a custom block -->
{% block submit_butt_bottom %}
<div class="submit-row col-lg-12 col-md-12 col-sm-12">
<input type="submit" value="Save" class="default" name="_save">


  <p class="deletelink-box"><a href="/admin/tours/tour/1/delete/" class="deletelink">Delete</a></p>


<input type="submit" value="Save and add another" name="_addanother">
<input type="submit" value="Save and continue editing" name="_continue">
</div>
{% endblock %}

{% endblock %}

<!-- This blank is needed to be able to overwrite the default html of the submit row above  -->
{% block submit_buttons_bottom %}
{% endblock %}
